.ipynb_checkpoints
__pycache__
*.egg-info
Gemfile*
Gemfile.lock
docs/_site
build
dist
.vscode
.idea
*.gif
*.csv
*/data/*
*.parquet
*.tar.gz
tmp
_docs/
_proc/
.DS_Store
.gitattributes
.gitconfig
nbs/.last_checked
.venv
.idea
.env
*/summary.md
*/*.png
longhorizon
data
*.rda
nbs/_extensions
!nbs/assets/*

# VSCode
*.code-workspace
