{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://api.nixtla.com"
    }
  ],
  "info": {
    "title": "Nixtla Forecast API",
    "description": "API for TimeGPT forecast. Just send your data as json and get results. We do the heavy lifting.",
    "version": "1"
  },
  "paths": {
    "/validate_api_key": {
      "get": {
        "summary": "Validate Api Key",
        "operationId": "validate_api_key_validate_api_key_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/validate_token": {
      "post": {
        "summary": "Validate Token",
        "operationId": "validate_token_validate_token_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "validate_token"
      }
    },
    "/health": {
      "get": {
        "summary": "Health",
        "description": "Check if server is healthy.\nUsed by the readiness probe to check server is healthy.",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/forecast": {
      "post": {
        "summary": "Foundational Time Series Model (Beta)",
        "description": "This endpoint predicts the future values of a single time series based on the provided data. It takes a JSON as an input containing information like the series frequency and historical data. (See below for a full description of the parameters.) The response contains the predicted values based on the input arguments. Get your token for private beta at https://dashboard.nixtla.io",
        "operationId": "forecast_forecast_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleSeriesForecast",
                "examples": [
                  {
                    "fh": 7,
                    "y": {
                      "2015-12-02": 4.390508031418598,
                      "2015-12-03": 5.721514930979356,
                      "2015-12-04": 4.822107008573151,
                      "2015-12-05": 4.359065463975175,
                      "2015-12-06": 3.3892383947112377,
                      "2015-12-07": 5.167152904533249,
                      "2015-12-08": 3.50069769010154,
                      "2015-12-09": 7.134184006256638,
                      "2015-12-10": 7.709302084008234,
                      "2015-12-11": 3.0675321506062216,
                      "2015-12-12": 6.333800304661317,
                      "2015-12-13": 4.231159358023236,
                      "2015-12-14": 4.5443564887514585,
                      "2015-12-15": 7.404773106341288,
                      "2015-12-16": 0.5682884655830955,
                      "2015-12-17": 0.6970343976123257,
                      "2015-12-18": 0.16174717952260576,
                      "2015-12-19": 6.660958764383504,
                      "2015-12-20": 6.225254007598804,
                      "2015-12-21": 6.960097185974553,
                      "2015-12-22": 7.828946737862112,
                      "2015-12-23": 6.393268513733789,
                      "2015-12-24": 3.6918348980234548,
                      "2015-12-25": 6.244233410291644,
                      "2015-12-26": 0.9461954069514658,
                      "2015-12-27": 5.119368170620191,
                      "2015-12-28": 1.1468262992723712,
                      "2015-12-29": 7.557351336396671,
                      "2015-12-30": 4.174786574000573,
                      "2015-12-31": 3.3172955199241887,
                      "2016-01-01": 2.1164448968370158,
                      "2016-01-02": 6.193869515473733,
                      "2016-01-03": 3.6492026577323884,
                      "2016-01-04": 4.547471590949188,
                      "2016-01-05": 0.15031840349084113,
                      "2016-01-06": 4.9410839766070165,
                      "2016-01-07": 4.896765781779371,
                      "2016-01-08": 4.935471974998055,
                      "2016-01-09": 7.549984628116993,
                      "2016-01-10": 5.454562392827867,
                      "2016-01-11": 2.876063204590288,
                      "2016-01-12": 3.4962556303947316,
                      "2016-01-13": 5.581049567418119
                    },
                    "x": {
                      "2015-12-02": [0.5701967704178796, 0.6778165367962301],
                      "2015-12-03": [0.43860151346232035, 0.27000797319216485],
                      "2015-12-04": [0.9883738380592262, 0.7351940221225949],
                      "2015-12-05": [0.10204481074802807, 0.9621885451174382],
                      "2015-12-06": [0.2088767560948347, 0.24875314351995803],
                      "2015-12-07": [0.16130951788499626, 0.5761573344178369],
                      "2015-12-08": [0.6531083254653984, 0.592041931271839],
                      "2015-12-09": [0.2532916025397821, 0.5722519057908734],
                      "2015-12-10": [0.4663107728563063, 0.2230816326406183],
                      "2015-12-11": [0.24442559200160274, 0.952749011516985],
                      "2015-12-12": [0.15896958364551972, 0.44712537861762736],
                      "2015-12-13": [0.11037514116430513, 0.8464086724711278],
                      "2015-12-14": [0.6563295894652734, 0.6994792753175043],
                      "2015-12-15": [0.1381829513486138, 0.29743695085513366],
                      "2015-12-16": [0.1965823616800535, 0.8137978197024772],
                      "2015-12-17": [0.3687251706609641, 0.39650574084698464],
                      "2015-12-18": [0.8209932298479351, 0.8811031971111616],
                      "2015-12-19": [0.09710127579306127, 0.5812728726358587],
                      "2015-12-20": [0.8379449074988039, 0.8817353618548528],
                      "2015-12-21": [0.09609840789396307, 0.6925315900777659],
                      "2015-12-22": [0.9764594650133958, 0.7252542798196405],
                      "2015-12-23": [0.4686512016477016, 0.5013243819267023],
                      "2015-12-24": [0.9767610881903371, 0.9560836347232239],
                      "2015-12-25": [0.604845519745046, 0.6439901992296374],
                      "2015-12-26": [0.7392635793983017, 0.4238550485581797],
                      "2015-12-27": [0.039187792254320675, 0.6063932141279244],
                      "2015-12-28": [0.2828069625764096, 0.019193198309333526],
                      "2015-12-29": [0.1201965612131689, 0.30157481667454933],
                      "2015-12-30": [0.29614019752214493, 0.660173537492685],
                      "2015-12-31": [0.11872771895424405, 0.29007760721044407],
                      "2016-01-01": [0.317983179393976, 0.6180154289988415],
                      "2016-01-02": [0.41426299451466997, 0.42876870094576613],
                      "2016-01-03": [0.06414749634878436, 0.13547406422245023],
                      "2016-01-04": [0.6924721193700198, 0.29828232595603077],
                      "2016-01-05": [0.5666014542065752, 0.5699649107012649],
                      "2016-01-06": [0.2653894909394454, 0.5908727612481732],
                      "2016-01-07": [0.5232480534666997, 0.5743252488495788],
                      "2016-01-08": [0.09394051075844168, 0.6532008198571336],
                      "2016-01-09": [0.5759464955561793, 0.6521032700016889],
                      "2016-01-10": [0.9292961975762141, 0.43141843543397396],
                      "2016-01-11": [0.31856895245132366, 0.896546595851063],
                      "2016-01-12": [0.6674103799636817, 0.36756187004789653],
                      "2016-01-13": [0.13179786240439217, 0.4358649252656268],
                      "2016-01-14": [0.7163272041185655, 0.8919233550156721],
                      "2016-01-15": [0.2894060929472011, 0.8061939890460857],
                      "2016-01-16": [0.18319136200711683, 0.7038885835403663],
                      "2016-01-17": [0.5865129348100832, 0.10022688731230112],
                      "2016-01-18": [0.020107546187493552, 0.9194826137446735],
                      "2016-01-19": [0.8289400292173631, 0.7142412995491114],
                      "2016-01-20": [0.004695476192547066, 0.9988470065678665]
                    },
                    "freq": "D",
                    "clean_ex_first": true,
                    "level": [90],
                    "finetune_steps": 0,
                    "model": "timegpt-1"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "forecast"
      }
    },
    "/historic_forecast": {
      "post": {
        "summary": "Foundational Time Series Model Historic (Beta)",
        "description": "Based on the provided data, this endpoint predicts time series data for the in-sample period (historical period). It takes a JSON as an input, including information like the series frequency and the historical data. (See below for a full description of the parameters.) The response contains the predicted values for the historical period. Usually useful for anomaly detection. Get your token for private beta at https://dashboard.nixtla.io.",
        "operationId": "historic_forecast_historic_forecast_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleSeriesInsampleForecast",
                "examples": [
                  {
                    "fh": 7,
                    "y": {
                      "2015-12-02": 4.390508031418598,
                      "2015-12-03": 5.721514930979356,
                      "2015-12-04": 4.822107008573151,
                      "2015-12-05": 4.359065463975175,
                      "2015-12-06": 3.3892383947112377,
                      "2015-12-07": 5.167152904533249,
                      "2015-12-08": 3.50069769010154,
                      "2015-12-09": 7.134184006256638,
                      "2015-12-10": 7.709302084008234,
                      "2015-12-11": 3.0675321506062216,
                      "2015-12-12": 6.333800304661317,
                      "2015-12-13": 4.231159358023236,
                      "2015-12-14": 4.5443564887514585,
                      "2015-12-15": 7.404773106341288,
                      "2015-12-16": 0.5682884655830955,
                      "2015-12-17": 0.6970343976123257,
                      "2015-12-18": 0.16174717952260576,
                      "2015-12-19": 6.660958764383504,
                      "2015-12-20": 6.225254007598804,
                      "2015-12-21": 6.960097185974553,
                      "2015-12-22": 7.828946737862112,
                      "2015-12-23": 6.393268513733789,
                      "2015-12-24": 3.6918348980234548,
                      "2015-12-25": 6.244233410291644,
                      "2015-12-26": 0.9461954069514658,
                      "2015-12-27": 5.119368170620191,
                      "2015-12-28": 1.1468262992723712,
                      "2015-12-29": 7.557351336396671,
                      "2015-12-30": 4.174786574000573,
                      "2015-12-31": 3.3172955199241887,
                      "2016-01-01": 2.1164448968370158,
                      "2016-01-02": 6.193869515473733,
                      "2016-01-03": 3.6492026577323884,
                      "2016-01-04": 4.547471590949188,
                      "2016-01-05": 0.15031840349084113,
                      "2016-01-06": 4.9410839766070165,
                      "2016-01-07": 4.896765781779371,
                      "2016-01-08": 4.935471974998055,
                      "2016-01-09": 7.549984628116993,
                      "2016-01-10": 5.454562392827867,
                      "2016-01-11": 2.876063204590288,
                      "2016-01-12": 3.4962556303947316,
                      "2016-01-13": 5.581049567418119
                    },
                    "freq": "D",
                    "clean_ex_first": true,
                    "level": [90],
                    "model": "timegpt-1"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "historic_forecast"
      }
    },
    "/forecast_multi_series": {
      "post": {
        "summary": "Foundational Time Series Model Multi Series (Beta)",
        "description": "Based on the provided data, this endpoint predicts the future values of multiple time series at once. It takes a JSON as an input containing information like the series frequency and historical data. (See below for a full description of the parameters.) The response contains the predicted values for each series based on the input arguments. Get your token for private beta at https://dashboard.nixtla.io.",
        "operationId": "forecast_multi_series_forecast_multi_series_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSeriesForecast",
                "examples": [null]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "forecast_multi_series"
      }
    },
    "/historic_forecast_multi_series": {
      "post": {
        "summary": "Foundational Time Series Model Multi Series Historic (Beta)",
        "description": "Based on the provided data, this endpoint predicts the in-sample period (historical period) values of multiple time series at once. It takes a JSON as an input containing information like the series frequency and historical data. (See below for a full description of the parameters.) The response contains the predicted values for the historical period. Usually useful for anomaly detection. Get your token for private beta at https://dashboard.nixtla.io.",
        "operationId": "historic_forecast_multi_series_historic_forecast_multi_series_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSeriesInsampleForecast",
                "examples": [
                  {
                    "y": {
                      "columns": ["unique_id", "ds", "y"],
                      "data": [
                        ["PeytonManning", "2015-12-02", 4.390508031418598],
                        ["PeytonManning", "2015-12-03", 5.721514930979356],
                        ["PeytonManning", "2015-12-04", 4.822107008573151],
                        ["PeytonManning", "2015-12-05", 4.359065463975175],
                        ["PeytonManning", "2015-12-06", 3.3892383947112377],
                        ["PeytonManning", "2015-12-07", 5.167152904533249],
                        ["PeytonManning", "2015-12-08", 3.50069769010154],
                        ["PeytonManning", "2015-12-09", 7.134184006256638],
                        ["PeytonManning", "2015-12-10", 7.709302084008234],
                        ["PeytonManning", "2015-12-11", 3.0675321506062216],
                        ["PeytonManning", "2015-12-12", 6.333800304661317],
                        ["PeytonManning", "2015-12-13", 4.231159358023236],
                        ["PeytonManning", "2015-12-14", 4.5443564887514585],
                        ["PeytonManning", "2015-12-15", 7.404773106341288],
                        ["PeytonManning", "2015-12-16", 0.5682884655830955],
                        ["PeytonManning", "2015-12-17", 0.6970343976123257],
                        ["PeytonManning", "2015-12-18", 0.16174717952260576],
                        ["PeytonManning", "2015-12-19", 6.660958764383504],
                        ["PeytonManning", "2015-12-20", 6.225254007598804],
                        ["PeytonManning", "2015-12-21", 6.960097185974553],
                        ["PeytonManning", "2015-12-22", 7.828946737862112],
                        ["PeytonManning", "2015-12-23", 6.393268513733789],
                        ["PeytonManning", "2015-12-24", 3.6918348980234548],
                        ["PeytonManning", "2015-12-25", 6.244233410291644],
                        ["PeytonManning", "2015-12-26", 0.9461954069514658],
                        ["PeytonManning", "2015-12-27", 5.119368170620191],
                        ["PeytonManning", "2015-12-28", 1.1468262992723712],
                        ["PeytonManning", "2015-12-29", 7.557351336396671],
                        ["PeytonManning", "2015-12-30", 4.174786574000573],
                        ["PeytonManning", "2015-12-31", 3.3172955199241887],
                        ["PeytonManning", "2016-01-01", 2.1164448968370158],
                        ["PeytonManning", "2016-01-02", 6.193869515473733],
                        ["PeytonManning", "2016-01-03", 3.6492026577323884],
                        ["PeytonManning", "2016-01-04", 4.547471590949188],
                        ["PeytonManning", "2016-01-05", 0.15031840349084113],
                        ["PeytonManning", "2016-01-06", 4.9410839766070165],
                        ["PeytonManning", "2016-01-07", 4.896765781779371],
                        ["PeytonManning", "2016-01-08", 4.935471974998055],
                        ["PeytonManning", "2016-01-09", 7.549984628116993],
                        ["PeytonManning", "2016-01-10", 5.454562392827867],
                        ["PeytonManning", "2016-01-11", 2.876063204590288],
                        ["PeytonManning", "2016-01-12", 3.4962556303947316],
                        ["PeytonManning", "2016-01-13", 5.581049567418119],
                        ["TomBrady", "2015-12-02", 4.390508031418598],
                        ["TomBrady", "2015-12-03", 5.721514930979356],
                        ["TomBrady", "2015-12-04", 4.822107008573151],
                        ["TomBrady", "2015-12-05", 4.359065463975175],
                        ["TomBrady", "2015-12-06", 3.3892383947112377],
                        ["TomBrady", "2015-12-07", 5.167152904533249],
                        ["TomBrady", "2015-12-08", 3.50069769010154],
                        ["TomBrady", "2015-12-09", 7.134184006256638],
                        ["TomBrady", "2015-12-10", 7.709302084008234],
                        ["TomBrady", "2015-12-11", 3.0675321506062216],
                        ["TomBrady", "2015-12-12", 6.333800304661317],
                        ["TomBrady", "2015-12-13", 4.231159358023236],
                        ["TomBrady", "2015-12-14", 4.5443564887514585],
                        ["TomBrady", "2015-12-15", 7.404773106341288],
                        ["TomBrady", "2015-12-16", 0.5682884655830955],
                        ["TomBrady", "2015-12-17", 0.6970343976123257],
                        ["TomBrady", "2015-12-18", 0.16174717952260576],
                        ["TomBrady", "2015-12-19", 6.660958764383504],
                        ["TomBrady", "2015-12-20", 6.225254007598804],
                        ["TomBrady", "2015-12-21", 6.960097185974553],
                        ["TomBrady", "2015-12-22", 7.828946737862112],
                        ["TomBrady", "2015-12-23", 6.393268513733789],
                        ["TomBrady", "2015-12-24", 3.6918348980234548],
                        ["TomBrady", "2015-12-25", 6.244233410291644],
                        ["TomBrady", "2015-12-26", 0.9461954069514658],
                        ["TomBrady", "2015-12-27", 5.119368170620191],
                        ["TomBrady", "2015-12-28", 1.1468262992723712],
                        ["TomBrady", "2015-12-29", 7.557351336396671],
                        ["TomBrady", "2015-12-30", 4.174786574000573],
                        ["TomBrady", "2015-12-31", 3.3172955199241887],
                        ["TomBrady", "2016-01-01", 2.1164448968370158],
                        ["TomBrady", "2016-01-02", 6.193869515473733],
                        ["TomBrady", "2016-01-03", 3.6492026577323884],
                        ["TomBrady", "2016-01-04", 4.547471590949188],
                        ["TomBrady", "2016-01-05", 0.15031840349084113],
                        ["TomBrady", "2016-01-06", 4.9410839766070165],
                        ["TomBrady", "2016-01-07", 4.896765781779371],
                        ["TomBrady", "2016-01-08", 4.935471974998055],
                        ["TomBrady", "2016-01-09", 7.549984628116993],
                        ["TomBrady", "2016-01-10", 5.454562392827867],
                        ["TomBrady", "2016-01-11", 2.876063204590288],
                        ["TomBrady", "2016-01-12", 3.4962556303947316],
                        ["TomBrady", "2016-01-13", 5.581049567418119]
                      ]
                    },
                    "freq": "D",
                    "level": [90],
                    "model": "timegpt-1"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "historic_forecast_multi_series"
      }
    },
    "/anomaly_detection_multi_series": {
      "post": {
        "summary": "Foundational Time Series Model Multi Series Anomaly Detector (Beta)",
        "description": "Based on the provided data, this endpoint detects the anomalies in the historical perdiod of multiple time series at once. It takes a JSON as an input containing information like the series frequency and historical data. (See below for a full description of the parameters.) The response contains a flag indicating if the date has an anomaly and also provides the prediction interval used to define if an observation is an anomaly.Get your token for private beta at https://dashboard.nixtla.io.",
        "operationId": "anomaly_detection_multi_series_anomaly_detection_multi_series_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSeriesAnomaly",
                "examples": [null]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "anomaly_detection_multi_series"
      }
    },
    "/cross_validation_multi_series": {
      "post": {
        "summary": "Foundational Time Series Model Multi Series Cross Validation (Beta)",
        "description": "Perform Cross Validation for multiple series",
        "operationId": "cross_validation_multi_series_cross_validation_multi_series_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSeriesCrossValidation",
                "examples": [
                  {
                    "y": {
                      "columns": ["unique_id", "ds", "y"],
                      "data": [
                        ["PeytonManning", "2015-12-02", 4.390508031418598],
                        ["PeytonManning", "2015-12-03", 5.721514930979356],
                        ["PeytonManning", "2015-12-04", 4.822107008573151],
                        ["PeytonManning", "2015-12-05", 4.359065463975175],
                        ["PeytonManning", "2015-12-06", 3.3892383947112377],
                        ["PeytonManning", "2015-12-07", 5.167152904533249],
                        ["PeytonManning", "2015-12-08", 3.50069769010154],
                        ["PeytonManning", "2015-12-09", 7.134184006256638],
                        ["PeytonManning", "2015-12-10", 7.709302084008234],
                        ["PeytonManning", "2015-12-11", 3.0675321506062216],
                        ["PeytonManning", "2015-12-12", 6.333800304661317],
                        ["PeytonManning", "2015-12-13", 4.231159358023236],
                        ["PeytonManning", "2015-12-14", 4.5443564887514585],
                        ["PeytonManning", "2015-12-15", 7.404773106341288],
                        ["PeytonManning", "2015-12-16", 0.5682884655830955],
                        ["PeytonManning", "2015-12-17", 0.6970343976123257],
                        ["PeytonManning", "2015-12-18", 0.16174717952260576],
                        ["PeytonManning", "2015-12-19", 6.660958764383504],
                        ["PeytonManning", "2015-12-20", 6.225254007598804],
                        ["PeytonManning", "2015-12-21", 6.960097185974553],
                        ["PeytonManning", "2015-12-22", 7.828946737862112],
                        ["PeytonManning", "2015-12-23", 6.393268513733789],
                        ["PeytonManning", "2015-12-24", 3.6918348980234548],
                        ["PeytonManning", "2015-12-25", 6.244233410291644],
                        ["PeytonManning", "2015-12-26", 0.9461954069514658],
                        ["PeytonManning", "2015-12-27", 5.119368170620191],
                        ["PeytonManning", "2015-12-28", 1.1468262992723712],
                        ["PeytonManning", "2015-12-29", 7.557351336396671],
                        ["PeytonManning", "2015-12-30", 4.174786574000573],
                        ["PeytonManning", "2015-12-31", 3.3172955199241887],
                        ["PeytonManning", "2016-01-01", 2.1164448968370158],
                        ["PeytonManning", "2016-01-02", 6.193869515473733],
                        ["PeytonManning", "2016-01-03", 3.6492026577323884],
                        ["PeytonManning", "2016-01-04", 4.547471590949188],
                        ["PeytonManning", "2016-01-05", 0.15031840349084113],
                        ["PeytonManning", "2016-01-06", 4.9410839766070165],
                        ["PeytonManning", "2016-01-07", 4.896765781779371],
                        ["PeytonManning", "2016-01-08", 4.935471974998055],
                        ["PeytonManning", "2016-01-09", 7.549984628116993],
                        ["PeytonManning", "2016-01-10", 5.454562392827867],
                        ["PeytonManning", "2016-01-11", 2.876063204590288],
                        ["PeytonManning", "2016-01-12", 3.4962556303947316],
                        ["PeytonManning", "2016-01-13", 5.581049567418119],
                        ["TomBrady", "2015-12-02", 4.390508031418598],
                        ["TomBrady", "2015-12-03", 5.721514930979356],
                        ["TomBrady", "2015-12-04", 4.822107008573151],
                        ["TomBrady", "2015-12-05", 4.359065463975175],
                        ["TomBrady", "2015-12-06", 3.3892383947112377],
                        ["TomBrady", "2015-12-07", 5.167152904533249],
                        ["TomBrady", "2015-12-08", 3.50069769010154],
                        ["TomBrady", "2015-12-09", 7.134184006256638],
                        ["TomBrady", "2015-12-10", 7.709302084008234],
                        ["TomBrady", "2015-12-11", 3.0675321506062216],
                        ["TomBrady", "2015-12-12", 6.333800304661317],
                        ["TomBrady", "2015-12-13", 4.231159358023236],
                        ["TomBrady", "2015-12-14", 4.5443564887514585],
                        ["TomBrady", "2015-12-15", 7.404773106341288],
                        ["TomBrady", "2015-12-16", 0.5682884655830955],
                        ["TomBrady", "2015-12-17", 0.6970343976123257],
                        ["TomBrady", "2015-12-18", 0.16174717952260576],
                        ["TomBrady", "2015-12-19", 6.660958764383504],
                        ["TomBrady", "2015-12-20", 6.225254007598804],
                        ["TomBrady", "2015-12-21", 6.960097185974553],
                        ["TomBrady", "2015-12-22", 7.828946737862112],
                        ["TomBrady", "2015-12-23", 6.393268513733789],
                        ["TomBrady", "2015-12-24", 3.6918348980234548],
                        ["TomBrady", "2015-12-25", 6.244233410291644],
                        ["TomBrady", "2015-12-26", 0.9461954069514658],
                        ["TomBrady", "2015-12-27", 5.119368170620191],
                        ["TomBrady", "2015-12-28", 1.1468262992723712],
                        ["TomBrady", "2015-12-29", 7.557351336396671],
                        ["TomBrady", "2015-12-30", 4.174786574000573],
                        ["TomBrady", "2015-12-31", 3.3172955199241887],
                        ["TomBrady", "2016-01-01", 2.1164448968370158],
                        ["TomBrady", "2016-01-02", 6.193869515473733],
                        ["TomBrady", "2016-01-03", 3.6492026577323884],
                        ["TomBrady", "2016-01-04", 4.547471590949188],
                        ["TomBrady", "2016-01-05", 0.15031840349084113],
                        ["TomBrady", "2016-01-06", 4.9410839766070165],
                        ["TomBrady", "2016-01-07", 4.896765781779371],
                        ["TomBrady", "2016-01-08", 4.935471974998055],
                        ["TomBrady", "2016-01-09", 7.549984628116993],
                        ["TomBrady", "2016-01-10", 5.454562392827867],
                        ["TomBrady", "2016-01-11", 2.876063204590288],
                        ["TomBrady", "2016-01-12", 3.4962556303947316],
                        ["TomBrady", "2016-01-13", 5.581049567418119]
                      ]
                    },
                    "x": {
                      "columns": [
                        "unique_id",
                        "ds",
                        "normalized_fb_marketing_spend",
                        "normalized_google_marketing_spend"
                      ],
                      "data": [
                        [
                          "PeytonManning",
                          "2015-12-02",
                          0.5701967704178796,
                          0.6778165367962301
                        ],
                        [
                          "PeytonManning",
                          "2015-12-03",
                          0.43860151346232035,
                          0.27000797319216485
                        ],
                        [
                          "PeytonManning",
                          "2015-12-04",
                          0.9883738380592262,
                          0.7351940221225949
                        ],
                        [
                          "PeytonManning",
                          "2015-12-05",
                          0.10204481074802807,
                          0.9621885451174382
                        ],
                        [
                          "PeytonManning",
                          "2015-12-06",
                          0.2088767560948347,
                          0.24875314351995803
                        ],
                        [
                          "PeytonManning",
                          "2015-12-07",
                          0.16130951788499626,
                          0.5761573344178369
                        ],
                        [
                          "PeytonManning",
                          "2015-12-08",
                          0.6531083254653984,
                          0.592041931271839
                        ],
                        [
                          "PeytonManning",
                          "2015-12-09",
                          0.2532916025397821,
                          0.5722519057908734
                        ],
                        [
                          "PeytonManning",
                          "2015-12-10",
                          0.4663107728563063,
                          0.2230816326406183
                        ],
                        [
                          "PeytonManning",
                          "2015-12-11",
                          0.24442559200160274,
                          0.952749011516985
                        ],
                        [
                          "PeytonManning",
                          "2015-12-12",
                          0.15896958364551972,
                          0.44712537861762736
                        ],
                        [
                          "PeytonManning",
                          "2015-12-13",
                          0.11037514116430513,
                          0.8464086724711278
                        ],
                        [
                          "PeytonManning",
                          "2015-12-14",
                          0.6563295894652734,
                          0.6994792753175043
                        ],
                        [
                          "PeytonManning",
                          "2015-12-15",
                          0.1381829513486138,
                          0.29743695085513366
                        ],
                        [
                          "PeytonManning",
                          "2015-12-16",
                          0.1965823616800535,
                          0.8137978197024772
                        ],
                        [
                          "PeytonManning",
                          "2015-12-17",
                          0.3687251706609641,
                          0.39650574084698464
                        ],
                        [
                          "PeytonManning",
                          "2015-12-18",
                          0.8209932298479351,
                          0.8811031971111616
                        ],
                        [
                          "PeytonManning",
                          "2015-12-19",
                          0.09710127579306127,
                          0.5812728726358587
                        ],
                        [
                          "PeytonManning",
                          "2015-12-20",
                          0.8379449074988039,
                          0.8817353618548528
                        ],
                        [
                          "PeytonManning",
                          "2015-12-21",
                          0.09609840789396307,
                          0.6925315900777659
                        ],
                        [
                          "PeytonManning",
                          "2015-12-22",
                          0.9764594650133958,
                          0.7252542798196405
                        ],
                        [
                          "PeytonManning",
                          "2015-12-23",
                          0.4686512016477016,
                          0.5013243819267023
                        ],
                        [
                          "PeytonManning",
                          "2015-12-24",
                          0.9767610881903371,
                          0.9560836347232239
                        ],
                        [
                          "PeytonManning",
                          "2015-12-25",
                          0.604845519745046,
                          0.6439901992296374
                        ],
                        [
                          "PeytonManning",
                          "2015-12-26",
                          0.7392635793983017,
                          0.4238550485581797
                        ],
                        [
                          "PeytonManning",
                          "2015-12-27",
                          0.039187792254320675,
                          0.6063932141279244
                        ],
                        [
                          "PeytonManning",
                          "2015-12-28",
                          0.2828069625764096,
                          0.019193198309333526
                        ],
                        [
                          "PeytonManning",
                          "2015-12-29",
                          0.1201965612131689,
                          0.30157481667454933
                        ],
                        [
                          "PeytonManning",
                          "2015-12-30",
                          0.29614019752214493,
                          0.660173537492685
                        ],
                        [
                          "PeytonManning",
                          "2015-12-31",
                          0.11872771895424405,
                          0.29007760721044407
                        ],
                        [
                          "PeytonManning",
                          "2016-01-01",
                          0.317983179393976,
                          0.6180154289988415
                        ],
                        [
                          "PeytonManning",
                          "2016-01-02",
                          0.41426299451466997,
                          0.42876870094576613
                        ],
                        [
                          "PeytonManning",
                          "2016-01-03",
                          0.06414749634878436,
                          0.13547406422245023
                        ],
                        [
                          "PeytonManning",
                          "2016-01-04",
                          0.6924721193700198,
                          0.29828232595603077
                        ],
                        [
                          "PeytonManning",
                          "2016-01-05",
                          0.5666014542065752,
                          0.5699649107012649
                        ],
                        [
                          "PeytonManning",
                          "2016-01-06",
                          0.2653894909394454,
                          0.5908727612481732
                        ],
                        [
                          "PeytonManning",
                          "2016-01-07",
                          0.5232480534666997,
                          0.5743252488495788
                        ],
                        [
                          "PeytonManning",
                          "2016-01-08",
                          0.09394051075844168,
                          0.6532008198571336
                        ],
                        [
                          "PeytonManning",
                          "2016-01-09",
                          0.5759464955561793,
                          0.6521032700016889
                        ],
                        [
                          "PeytonManning",
                          "2016-01-10",
                          0.9292961975762141,
                          0.43141843543397396
                        ],
                        [
                          "PeytonManning",
                          "2016-01-11",
                          0.31856895245132366,
                          0.896546595851063
                        ],
                        [
                          "PeytonManning",
                          "2016-01-12",
                          0.6674103799636817,
                          0.36756187004789653
                        ],
                        [
                          "PeytonManning",
                          "2016-01-13",
                          0.13179786240439217,
                          0.4358649252656268
                        ],
                        [
                          "PeytonManning",
                          "2016-01-14",
                          0.7163272041185655,
                          0.8919233550156721
                        ],
                        [
                          "PeytonManning",
                          "2016-01-15",
                          0.2894060929472011,
                          0.8061939890460857
                        ],
                        [
                          "PeytonManning",
                          "2016-01-16",
                          0.18319136200711683,
                          0.7038885835403663
                        ],
                        [
                          "PeytonManning",
                          "2016-01-17",
                          0.5865129348100832,
                          0.10022688731230112
                        ],
                        [
                          "PeytonManning",
                          "2016-01-18",
                          0.020107546187493552,
                          0.9194826137446735
                        ],
                        [
                          "PeytonManning",
                          "2016-01-19",
                          0.8289400292173631,
                          0.7142412995491114
                        ],
                        [
                          "PeytonManning",
                          "2016-01-20",
                          0.004695476192547066,
                          0.9988470065678665
                        ],
                        [
                          "TomBrady",
                          "2015-12-02",
                          0.5701967704178796,
                          0.6778165367962301
                        ],
                        [
                          "TomBrady",
                          "2015-12-03",
                          0.43860151346232035,
                          0.27000797319216485
                        ],
                        [
                          "TomBrady",
                          "2015-12-04",
                          0.9883738380592262,
                          0.7351940221225949
                        ],
                        [
                          "TomBrady",
                          "2015-12-05",
                          0.10204481074802807,
                          0.9621885451174382
                        ],
                        [
                          "TomBrady",
                          "2015-12-06",
                          0.2088767560948347,
                          0.24875314351995803
                        ],
                        [
                          "TomBrady",
                          "2015-12-07",
                          0.16130951788499626,
                          0.5761573344178369
                        ],
                        [
                          "TomBrady",
                          "2015-12-08",
                          0.6531083254653984,
                          0.592041931271839
                        ],
                        [
                          "TomBrady",
                          "2015-12-09",
                          0.2532916025397821,
                          0.5722519057908734
                        ],
                        [
                          "TomBrady",
                          "2015-12-10",
                          0.4663107728563063,
                          0.2230816326406183
                        ],
                        [
                          "TomBrady",
                          "2015-12-11",
                          0.24442559200160274,
                          0.952749011516985
                        ],
                        [
                          "TomBrady",
                          "2015-12-12",
                          0.15896958364551972,
                          0.44712537861762736
                        ],
                        [
                          "TomBrady",
                          "2015-12-13",
                          0.11037514116430513,
                          0.8464086724711278
                        ],
                        [
                          "TomBrady",
                          "2015-12-14",
                          0.6563295894652734,
                          0.6994792753175043
                        ],
                        [
                          "TomBrady",
                          "2015-12-15",
                          0.1381829513486138,
                          0.29743695085513366
                        ],
                        [
                          "TomBrady",
                          "2015-12-16",
                          0.1965823616800535,
                          0.8137978197024772
                        ],
                        [
                          "TomBrady",
                          "2015-12-17",
                          0.3687251706609641,
                          0.39650574084698464
                        ],
                        [
                          "TomBrady",
                          "2015-12-18",
                          0.8209932298479351,
                          0.8811031971111616
                        ],
                        [
                          "TomBrady",
                          "2015-12-19",
                          0.09710127579306127,
                          0.5812728726358587
                        ],
                        [
                          "TomBrady",
                          "2015-12-20",
                          0.8379449074988039,
                          0.8817353618548528
                        ],
                        [
                          "TomBrady",
                          "2015-12-21",
                          0.09609840789396307,
                          0.6925315900777659
                        ],
                        [
                          "TomBrady",
                          "2015-12-22",
                          0.9764594650133958,
                          0.7252542798196405
                        ],
                        [
                          "TomBrady",
                          "2015-12-23",
                          0.4686512016477016,
                          0.5013243819267023
                        ],
                        [
                          "TomBrady",
                          "2015-12-24",
                          0.9767610881903371,
                          0.9560836347232239
                        ],
                        [
                          "TomBrady",
                          "2015-12-25",
                          0.604845519745046,
                          0.6439901992296374
                        ],
                        [
                          "TomBrady",
                          "2015-12-26",
                          0.7392635793983017,
                          0.4238550485581797
                        ],
                        [
                          "TomBrady",
                          "2015-12-27",
                          0.039187792254320675,
                          0.6063932141279244
                        ],
                        [
                          "TomBrady",
                          "2015-12-28",
                          0.2828069625764096,
                          0.019193198309333526
                        ],
                        [
                          "TomBrady",
                          "2015-12-29",
                          0.1201965612131689,
                          0.30157481667454933
                        ],
                        [
                          "TomBrady",
                          "2015-12-30",
                          0.29614019752214493,
                          0.660173537492685
                        ],
                        [
                          "TomBrady",
                          "2015-12-31",
                          0.11872771895424405,
                          0.29007760721044407
                        ],
                        [
                          "TomBrady",
                          "2016-01-01",
                          0.317983179393976,
                          0.6180154289988415
                        ],
                        [
                          "TomBrady",
                          "2016-01-02",
                          0.41426299451466997,
                          0.42876870094576613
                        ],
                        [
                          "TomBrady",
                          "2016-01-03",
                          0.06414749634878436,
                          0.13547406422245023
                        ],
                        [
                          "TomBrady",
                          "2016-01-04",
                          0.6924721193700198,
                          0.29828232595603077
                        ],
                        [
                          "TomBrady",
                          "2016-01-05",
                          0.5666014542065752,
                          0.5699649107012649
                        ],
                        [
                          "TomBrady",
                          "2016-01-06",
                          0.2653894909394454,
                          0.5908727612481732
                        ],
                        [
                          "TomBrady",
                          "2016-01-07",
                          0.5232480534666997,
                          0.5743252488495788
                        ],
                        [
                          "TomBrady",
                          "2016-01-08",
                          0.09394051075844168,
                          0.6532008198571336
                        ],
                        [
                          "TomBrady",
                          "2016-01-09",
                          0.5759464955561793,
                          0.6521032700016889
                        ],
                        [
                          "TomBrady",
                          "2016-01-10",
                          0.9292961975762141,
                          0.43141843543397396
                        ],
                        [
                          "TomBrady",
                          "2016-01-11",
                          0.31856895245132366,
                          0.896546595851063
                        ],
                        [
                          "TomBrady",
                          "2016-01-12",
                          0.6674103799636817,
                          0.36756187004789653
                        ],
                        [
                          "TomBrady",
                          "2016-01-13",
                          0.13179786240439217,
                          0.4358649252656268
                        ],
                        [
                          "TomBrady",
                          "2016-01-14",
                          0.7163272041185655,
                          0.8919233550156721
                        ],
                        [
                          "TomBrady",
                          "2016-01-15",
                          0.2894060929472011,
                          0.8061939890460857
                        ],
                        [
                          "TomBrady",
                          "2016-01-16",
                          0.18319136200711683,
                          0.7038885835403663
                        ],
                        [
                          "TomBrady",
                          "2016-01-17",
                          0.5865129348100832,
                          0.10022688731230112
                        ],
                        [
                          "TomBrady",
                          "2016-01-18",
                          0.020107546187493552,
                          0.9194826137446735
                        ],
                        [
                          "TomBrady",
                          "2016-01-19",
                          0.8289400292173631,
                          0.7142412995491114
                        ],
                        [
                          "TomBrady",
                          "2016-01-20",
                          0.004695476192547066,
                          0.9988470065678665
                        ]
                      ]
                    },
                    "freq": "D",
                    "level": [99],
                    "model": "timegpt-1"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "cross_validation_multi_series"
      }
    },
    "/model_params": {
      "get": {
        "summary": "Get Model Params",
        "operationId": "get_model_params_model_params_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "model",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Model"
            }
          },
          {
            "name": "freq",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Freq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Model Params",
        "operationId": "model_params_model_params_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleSeriesForecast"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-fern-sdk-method-name": "model_params"
      }
    },
    "/timegpt": {
      "post": {
        "summary": "Foundational Time Series Model (Beta)",
        "description": "This endpoint predicts the future values of a single time series based on the provided data. It takes a JSON as an input containing information like the series frequency and historical data. (See below for a full description of the parameters.) The response contains the predicted values based on the input arguments. Get your token for private beta at https://dashboard.nixtla.io",
        "operationId": "timegpt_timegpt_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleSeriesForecast",
                "examples": [
                  {
                    "fh": 7,
                    "y": {
                      "2015-12-02": 4.390508031418598,
                      "2015-12-03": 5.721514930979356,
                      "2015-12-04": 4.822107008573151,
                      "2015-12-05": 4.359065463975175,
                      "2015-12-06": 3.3892383947112377,
                      "2015-12-07": 5.167152904533249,
                      "2015-12-08": 3.50069769010154,
                      "2015-12-09": 7.134184006256638,
                      "2015-12-10": 7.709302084008234,
                      "2015-12-11": 3.0675321506062216,
                      "2015-12-12": 6.333800304661317,
                      "2015-12-13": 4.231159358023236,
                      "2015-12-14": 4.5443564887514585,
                      "2015-12-15": 7.404773106341288,
                      "2015-12-16": 0.5682884655830955,
                      "2015-12-17": 0.6970343976123257,
                      "2015-12-18": 0.16174717952260576,
                      "2015-12-19": 6.660958764383504,
                      "2015-12-20": 6.225254007598804,
                      "2015-12-21": 6.960097185974553,
                      "2015-12-22": 7.828946737862112,
                      "2015-12-23": 6.393268513733789,
                      "2015-12-24": 3.6918348980234548,
                      "2015-12-25": 6.244233410291644,
                      "2015-12-26": 0.9461954069514658,
                      "2015-12-27": 5.119368170620191,
                      "2015-12-28": 1.1468262992723712,
                      "2015-12-29": 7.557351336396671,
                      "2015-12-30": 4.174786574000573,
                      "2015-12-31": 3.3172955199241887,
                      "2016-01-01": 2.1164448968370158,
                      "2016-01-02": 6.193869515473733,
                      "2016-01-03": 3.6492026577323884,
                      "2016-01-04": 4.547471590949188,
                      "2016-01-05": 0.15031840349084113,
                      "2016-01-06": 4.9410839766070165,
                      "2016-01-07": 4.896765781779371,
                      "2016-01-08": 4.935471974998055,
                      "2016-01-09": 7.549984628116993,
                      "2016-01-10": 5.454562392827867,
                      "2016-01-11": 2.876063204590288,
                      "2016-01-12": 3.4962556303947316,
                      "2016-01-13": 5.581049567418119
                    },
                    "x": {
                      "2015-12-02": [0.5701967704178796, 0.6778165367962301],
                      "2015-12-03": [0.43860151346232035, 0.27000797319216485],
                      "2015-12-04": [0.9883738380592262, 0.7351940221225949],
                      "2015-12-05": [0.10204481074802807, 0.9621885451174382],
                      "2015-12-06": [0.2088767560948347, 0.24875314351995803],
                      "2015-12-07": [0.16130951788499626, 0.5761573344178369],
                      "2015-12-08": [0.6531083254653984, 0.592041931271839],
                      "2015-12-09": [0.2532916025397821, 0.5722519057908734],
                      "2015-12-10": [0.4663107728563063, 0.2230816326406183],
                      "2015-12-11": [0.24442559200160274, 0.952749011516985],
                      "2015-12-12": [0.15896958364551972, 0.44712537861762736],
                      "2015-12-13": [0.11037514116430513, 0.8464086724711278],
                      "2015-12-14": [0.6563295894652734, 0.6994792753175043],
                      "2015-12-15": [0.1381829513486138, 0.29743695085513366],
                      "2015-12-16": [0.1965823616800535, 0.8137978197024772],
                      "2015-12-17": [0.3687251706609641, 0.39650574084698464],
                      "2015-12-18": [0.8209932298479351, 0.8811031971111616],
                      "2015-12-19": [0.09710127579306127, 0.5812728726358587],
                      "2015-12-20": [0.8379449074988039, 0.8817353618548528],
                      "2015-12-21": [0.09609840789396307, 0.6925315900777659],
                      "2015-12-22": [0.9764594650133958, 0.7252542798196405],
                      "2015-12-23": [0.4686512016477016, 0.5013243819267023],
                      "2015-12-24": [0.9767610881903371, 0.9560836347232239],
                      "2015-12-25": [0.604845519745046, 0.6439901992296374],
                      "2015-12-26": [0.7392635793983017, 0.4238550485581797],
                      "2015-12-27": [0.039187792254320675, 0.6063932141279244],
                      "2015-12-28": [0.2828069625764096, 0.019193198309333526],
                      "2015-12-29": [0.1201965612131689, 0.30157481667454933],
                      "2015-12-30": [0.29614019752214493, 0.660173537492685],
                      "2015-12-31": [0.11872771895424405, 0.29007760721044407],
                      "2016-01-01": [0.317983179393976, 0.6180154289988415],
                      "2016-01-02": [0.41426299451466997, 0.42876870094576613],
                      "2016-01-03": [0.06414749634878436, 0.13547406422245023],
                      "2016-01-04": [0.6924721193700198, 0.29828232595603077],
                      "2016-01-05": [0.5666014542065752, 0.5699649107012649],
                      "2016-01-06": [0.2653894909394454, 0.5908727612481732],
                      "2016-01-07": [0.5232480534666997, 0.5743252488495788],
                      "2016-01-08": [0.09394051075844168, 0.6532008198571336],
                      "2016-01-09": [0.5759464955561793, 0.6521032700016889],
                      "2016-01-10": [0.9292961975762141, 0.43141843543397396],
                      "2016-01-11": [0.31856895245132366, 0.896546595851063],
                      "2016-01-12": [0.6674103799636817, 0.36756187004789653],
                      "2016-01-13": [0.13179786240439217, 0.4358649252656268],
                      "2016-01-14": [0.7163272041185655, 0.8919233550156721],
                      "2016-01-15": [0.2894060929472011, 0.8061939890460857],
                      "2016-01-16": [0.18319136200711683, 0.7038885835403663],
                      "2016-01-17": [0.5865129348100832, 0.10022688731230112],
                      "2016-01-18": [0.020107546187493552, 0.9194826137446735],
                      "2016-01-19": [0.8289400292173631, 0.7142412995491114],
                      "2016-01-20": [0.004695476192547066, 0.9988470065678665]
                    },
                    "freq": "D",
                    "clean_ex_first": true,
                    "level": [90],
                    "finetune_steps": 0,
                    "model": "timegpt-1"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "timegpt"
      }
    },
    "/timegpt_historic": {
      "post": {
        "summary": "Foundational Time Series Model Historic (Beta)",
        "description": "Based on the provided data, this endpoint predicts time series data for the in-sample period (historical period). It takes a JSON as an input, including information like the series frequency and the historical data. (See below for a full description of the parameters.) The response contains the predicted values for the historical period. Usually useful for anomaly detection. Get your token for private beta at https://dashboard.nixtla.io.",
        "operationId": "timegpt_historic_timegpt_historic_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleSeriesInsampleForecast",
                "examples": [
                  {
                    "fh": 7,
                    "y": {
                      "2015-12-02": 4.390508031418598,
                      "2015-12-03": 5.721514930979356,
                      "2015-12-04": 4.822107008573151,
                      "2015-12-05": 4.359065463975175,
                      "2015-12-06": 3.3892383947112377,
                      "2015-12-07": 5.167152904533249,
                      "2015-12-08": 3.50069769010154,
                      "2015-12-09": 7.134184006256638,
                      "2015-12-10": 7.709302084008234,
                      "2015-12-11": 3.0675321506062216,
                      "2015-12-12": 6.333800304661317,
                      "2015-12-13": 4.231159358023236,
                      "2015-12-14": 4.5443564887514585,
                      "2015-12-15": 7.404773106341288,
                      "2015-12-16": 0.5682884655830955,
                      "2015-12-17": 0.6970343976123257,
                      "2015-12-18": 0.16174717952260576,
                      "2015-12-19": 6.660958764383504,
                      "2015-12-20": 6.225254007598804,
                      "2015-12-21": 6.960097185974553,
                      "2015-12-22": 7.828946737862112,
                      "2015-12-23": 6.393268513733789,
                      "2015-12-24": 3.6918348980234548,
                      "2015-12-25": 6.244233410291644,
                      "2015-12-26": 0.9461954069514658,
                      "2015-12-27": 5.119368170620191,
                      "2015-12-28": 1.1468262992723712,
                      "2015-12-29": 7.557351336396671,
                      "2015-12-30": 4.174786574000573,
                      "2015-12-31": 3.3172955199241887,
                      "2016-01-01": 2.1164448968370158,
                      "2016-01-02": 6.193869515473733,
                      "2016-01-03": 3.6492026577323884,
                      "2016-01-04": 4.547471590949188,
                      "2016-01-05": 0.15031840349084113,
                      "2016-01-06": 4.9410839766070165,
                      "2016-01-07": 4.896765781779371,
                      "2016-01-08": 4.935471974998055,
                      "2016-01-09": 7.549984628116993,
                      "2016-01-10": 5.454562392827867,
                      "2016-01-11": 2.876063204590288,
                      "2016-01-12": 3.4962556303947316,
                      "2016-01-13": 5.581049567418119
                    },
                    "freq": "D",
                    "clean_ex_first": true,
                    "level": [90],
                    "model": "timegpt-1"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "timegpt_historic"
      }
    },
    "/timegpt_multi_series": {
      "post": {
        "summary": "Foundational Time Series Model Multi Series (Beta)",
        "description": "Based on the provided data, this endpoint predicts the future values of multiple time series at once. It takes a JSON as an input containing information like the series frequency and historical data. (See below for a full description of the parameters.) The response contains the predicted values for each series based on the input arguments. Get your token for private beta at https://dashboard.nixtla.io.",
        "operationId": "timegpt_multi_series_timegpt_multi_series_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSeriesForecast",
                "examples": [null]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "timegpt_multi_series"
      }
    },
    "/timegpt_multi_series_historic": {
      "post": {
        "summary": "Foundational Time Series Model Multi Series Historic (Beta)",
        "description": "Based on the provided data, this endpoint predicts the in-sample period (historical period) values of multiple time series at once. It takes a JSON as an input containing information like the series frequency and historical data. (See below for a full description of the parameters.) The response contains the predicted values for the historical period. Usually useful for anomaly detection. Get your token for private beta at https://dashboard.nixtla.io.",
        "operationId": "timegpt_multi_series_historic_timegpt_multi_series_historic_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSeriesInsampleForecast",
                "examples": [
                  {
                    "y": {
                      "columns": ["unique_id", "ds", "y"],
                      "data": [
                        ["PeytonManning", "2015-12-02", 4.390508031418598],
                        ["PeytonManning", "2015-12-03", 5.721514930979356],
                        ["PeytonManning", "2015-12-04", 4.822107008573151],
                        ["PeytonManning", "2015-12-05", 4.359065463975175],
                        ["PeytonManning", "2015-12-06", 3.3892383947112377],
                        ["PeytonManning", "2015-12-07", 5.167152904533249],
                        ["PeytonManning", "2015-12-08", 3.50069769010154],
                        ["PeytonManning", "2015-12-09", 7.134184006256638],
                        ["PeytonManning", "2015-12-10", 7.709302084008234],
                        ["PeytonManning", "2015-12-11", 3.0675321506062216],
                        ["PeytonManning", "2015-12-12", 6.333800304661317],
                        ["PeytonManning", "2015-12-13", 4.231159358023236],
                        ["PeytonManning", "2015-12-14", 4.5443564887514585],
                        ["PeytonManning", "2015-12-15", 7.404773106341288],
                        ["PeytonManning", "2015-12-16", 0.5682884655830955],
                        ["PeytonManning", "2015-12-17", 0.6970343976123257],
                        ["PeytonManning", "2015-12-18", 0.16174717952260576],
                        ["PeytonManning", "2015-12-19", 6.660958764383504],
                        ["PeytonManning", "2015-12-20", 6.225254007598804],
                        ["PeytonManning", "2015-12-21", 6.960097185974553],
                        ["PeytonManning", "2015-12-22", 7.828946737862112],
                        ["PeytonManning", "2015-12-23", 6.393268513733789],
                        ["PeytonManning", "2015-12-24", 3.6918348980234548],
                        ["PeytonManning", "2015-12-25", 6.244233410291644],
                        ["PeytonManning", "2015-12-26", 0.9461954069514658],
                        ["PeytonManning", "2015-12-27", 5.119368170620191],
                        ["PeytonManning", "2015-12-28", 1.1468262992723712],
                        ["PeytonManning", "2015-12-29", 7.557351336396671],
                        ["PeytonManning", "2015-12-30", 4.174786574000573],
                        ["PeytonManning", "2015-12-31", 3.3172955199241887],
                        ["PeytonManning", "2016-01-01", 2.1164448968370158],
                        ["PeytonManning", "2016-01-02", 6.193869515473733],
                        ["PeytonManning", "2016-01-03", 3.6492026577323884],
                        ["PeytonManning", "2016-01-04", 4.547471590949188],
                        ["PeytonManning", "2016-01-05", 0.15031840349084113],
                        ["PeytonManning", "2016-01-06", 4.9410839766070165],
                        ["PeytonManning", "2016-01-07", 4.896765781779371],
                        ["PeytonManning", "2016-01-08", 4.935471974998055],
                        ["PeytonManning", "2016-01-09", 7.549984628116993],
                        ["PeytonManning", "2016-01-10", 5.454562392827867],
                        ["PeytonManning", "2016-01-11", 2.876063204590288],
                        ["PeytonManning", "2016-01-12", 3.4962556303947316],
                        ["PeytonManning", "2016-01-13", 5.581049567418119],
                        ["TomBrady", "2015-12-02", 4.390508031418598],
                        ["TomBrady", "2015-12-03", 5.721514930979356],
                        ["TomBrady", "2015-12-04", 4.822107008573151],
                        ["TomBrady", "2015-12-05", 4.359065463975175],
                        ["TomBrady", "2015-12-06", 3.3892383947112377],
                        ["TomBrady", "2015-12-07", 5.167152904533249],
                        ["TomBrady", "2015-12-08", 3.50069769010154],
                        ["TomBrady", "2015-12-09", 7.134184006256638],
                        ["TomBrady", "2015-12-10", 7.709302084008234],
                        ["TomBrady", "2015-12-11", 3.0675321506062216],
                        ["TomBrady", "2015-12-12", 6.333800304661317],
                        ["TomBrady", "2015-12-13", 4.231159358023236],
                        ["TomBrady", "2015-12-14", 4.5443564887514585],
                        ["TomBrady", "2015-12-15", 7.404773106341288],
                        ["TomBrady", "2015-12-16", 0.5682884655830955],
                        ["TomBrady", "2015-12-17", 0.6970343976123257],
                        ["TomBrady", "2015-12-18", 0.16174717952260576],
                        ["TomBrady", "2015-12-19", 6.660958764383504],
                        ["TomBrady", "2015-12-20", 6.225254007598804],
                        ["TomBrady", "2015-12-21", 6.960097185974553],
                        ["TomBrady", "2015-12-22", 7.828946737862112],
                        ["TomBrady", "2015-12-23", 6.393268513733789],
                        ["TomBrady", "2015-12-24", 3.6918348980234548],
                        ["TomBrady", "2015-12-25", 6.244233410291644],
                        ["TomBrady", "2015-12-26", 0.9461954069514658],
                        ["TomBrady", "2015-12-27", 5.119368170620191],
                        ["TomBrady", "2015-12-28", 1.1468262992723712],
                        ["TomBrady", "2015-12-29", 7.557351336396671],
                        ["TomBrady", "2015-12-30", 4.174786574000573],
                        ["TomBrady", "2015-12-31", 3.3172955199241887],
                        ["TomBrady", "2016-01-01", 2.1164448968370158],
                        ["TomBrady", "2016-01-02", 6.193869515473733],
                        ["TomBrady", "2016-01-03", 3.6492026577323884],
                        ["TomBrady", "2016-01-04", 4.547471590949188],
                        ["TomBrady", "2016-01-05", 0.15031840349084113],
                        ["TomBrady", "2016-01-06", 4.9410839766070165],
                        ["TomBrady", "2016-01-07", 4.896765781779371],
                        ["TomBrady", "2016-01-08", 4.935471974998055],
                        ["TomBrady", "2016-01-09", 7.549984628116993],
                        ["TomBrady", "2016-01-10", 5.454562392827867],
                        ["TomBrady", "2016-01-11", 2.876063204590288],
                        ["TomBrady", "2016-01-12", 3.4962556303947316],
                        ["TomBrady", "2016-01-13", 5.581049567418119]
                      ]
                    },
                    "freq": "D",
                    "level": [90],
                    "model": "timegpt-1"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "timegpt_multi_series_historic"
      }
    },
    "/timegpt_multi_series_anomalies": {
      "post": {
        "summary": "Foundational Time Series Model Multi Series Anomaly Detector (Beta)",
        "description": "Based on the provided data, this endpoint detects the anomalies in the historical perdiod of multiple time series at once. It takes a JSON as an input containing information like the series frequency and historical data. (See below for a full description of the parameters.) The response contains a flag indicating if the date has an anomaly and also provides the prediction interval used to define if an observation is an anomaly.Get your token for private beta at https://dashboard.nixtla.io.",
        "operationId": "timegpt_multi_series_anomalies_timegpt_multi_series_anomalies_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSeriesAnomaly",
                "examples": [null]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "timegpt_multi_series_anomalies"
      }
    },
    "/timegpt_multi_series_cross_validation": {
      "post": {
        "summary": "Foundational Time Series Model Multi Series Cross Validation (Beta)",
        "description": "Perform Cross Validation for multiple series",
        "operationId": "timegpt_multi_series_cross_validation_timegpt_multi_series_cross_validation_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSeriesCrossValidation",
                "examples": [null]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "timegpt_multi_series_cross_validation"
      }
    },
    "/v2/forecast": {
      "post": {
        "summary": "Foundational Time Series Model Multi Series (Beta)",
        "description": "Based on the provided data, this endpoint predicts the future values of multiple time series at once. It takes a JSON as an input containing information like the series frequency and historical data. (See below for a full description of the parameters.) The response contains the predicted values for each series based on the input arguments. Get your token for private beta at https://dashboard.nixtla.io.",
        "operationId": "v2_forecast_v2_forecast_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForecastInput",
                "examples": [
                  {
                    "series": {
                      "sizes": [5, 3],
                      "y": [1, 2, 3, 4, 5, 10, 20, 30]
                    },
                    "h": 2,
                    "freq": "D"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "v2/forecast"
      }
    },
    "/v2/cross_validation": {
      "post": {
        "summary": "Foundational Time Series Model Multi Series Cross Validation (Beta)",
        "description": "Perform Cross Validation for multiple series",
        "operationId": "v2_cross_validation_v2_cross_validation_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrossValidationInput",
                "examples": [
                  {
                    "series": {
                      "sizes": [5, 3],
                      "y": [1, 2, 3, 4, 5, 10, 20, 30]
                    },
                    "h": 2,
                    "n_windows": 1,
                    "freq": "D"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrossValidationOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "v2/cross_validation"
      }
    },
    "/v2/historic_forecast": {
      "post": {
        "summary": "Foundational Time Series Model Multi Series Historic (Beta)",
        "description": "Based on the provided data, this endpoint predicts the in-sample period (historical period) values of multiple time series at once. It takes a JSON as an input containing information like the series frequency and historical data. (See below for a full description of the parameters.) The response contains the predicted values for the historical period. Usually useful for anomaly detection. Get your token for private beta at https://dashboard.nixtla.io.",
        "operationId": "v2_historic_forecast_v2_historic_forecast_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InSampleInput",
                "examples": [
                  {
                    "series": {
                      "sizes": [35],
                      "y": [
                        0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4,
                        5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 10, 4, 5, 6
                      ]
                    },
                    "freq": "D"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InSampleOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "v2/historic_forecast"
      }
    },
    "/v2/anomaly_detection": {
      "post": {
        "summary": "Foundational Time Series Model Multi Series Anomaly Detector (Beta)",
        "description": "Based on the provided data, this endpoint detects the anomalies in the historical perdiod of multiple time series at once. It takes a JSON as an input containing information like the series frequency and historical data. (See below for a full description of the parameters.) The response contains a flag indicating if the date has an anomaly and also provides the prediction interval used to define if an observation is an anomaly.Get your token for private beta at https://dashboard.nixtla.io.",
        "operationId": "v2_anomaly_detection_v2_anomaly_detection_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnomalyDetectionInput",
                "examples": [
                  {
                    "series": {
                      "sizes": [35],
                      "y": [
                        0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4,
                        5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 10, 4, 5, 6
                      ]
                    },
                    "freq": "D",
                    "level": 90
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnomalyDetectionOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-method-name": "v2/anomaly_detection"
      }
    },
    "/v2/online_anomaly_detection": {
      "post": {
        "summary": "Foundational Time Series Model Online Multi Series Anomaly Detector (Beta)",
        "description": "This endpoint performs online anomaly detection based on the provided data. It uses cross-validation for more robust detection of anomalies and it supports detection for univariate and multivariate scenarios. It takes a JSON as an input containing information like the series frequency and historical data. (See below for a full description of the parameters.) The response contains a flag indicating if the date has an anomaly, it provides the prediction interval used to define if an observation is an anomaly, and it reports the associated z-score for each point. Get your token for private beta at https://dashboard.nixtla.io.",
        "operationId": "v2_online_anomaly_detection_v2_online_anomaly_detection_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineAnomalyInput",
                "examples": [
                  {
                    "series": {
                      "sizes": [320],
                      "y": [
                        12, 12.99833416646828, 13.986693307950611,
                        14.955202066613396, 15.894183423086506,
                        16.794255386042032, 17.646424733950354,
                        18.442176872376912, 19.173560908995228,
                        19.833269096274833, 20.414709848078964,
                        20.912073600614356, 21.320390859672266,
                        21.63558185417193, 21.854497299884603,
                        21.974949866040546, 21.995736030415053,
                        21.916648104524686, 21.73847630878195,
                        21.463000876874144, 21.092974268256818,
                        20.632093666488736, 20.0849640381959,
                        19.457052121767198, 18.754631805511508,
                        17.984721441039564, 17.15501371821464, 16.2737988023383,
                        15.349881501559047, 14.39249329213982,
                        13.411200080598672, 12.415806624332905,
                        11.416258565724199, 10.422543058567513,
                        9.444588979731684, 8.492167723103801, 7.574795567051475,
                        6.701638590915066, 5.8814210905728075,
                        5.1223384081602585, 4.4319750469207175,
                        3.817228889355892, 3.284242275864118, 2.838340632505451,
                        2.4839792611048406, 2.22469882334903,
                        2.0630899636653552, 2.000767424358992,
                        2.038353911641595, 2.175473873756676,
                        2.4107572533686152, 2.741853176722678,
                        3.1654534427984693, 3.6773255777609926,
                        4.2723551244401285, 4.9445967442960805,
                        5.6873336212767915, 6.493144574023624,
                        7.353978205862434, 8.26123335169764, 9.205845018010741,
                        10.17837495727905, 11.169105971825037,
                        12.168139004843505, 13.165492048504937,
                        14.151199880878156, 15.115413635133788,
                        16.048499206165985, 16.94113351138609,
                        17.784397643882002, 18.56986598718789,
                        19.289690401258767, 19.936678638491532,
                        20.50436620628565, 20.98708095811627, 21.37999976774739,
                        21.679196720314863, 21.881682338770005,
                        21.985433453746047, 21.98941341839772,
                        21.893582466233816, 21.698898108450862,
                        21.407305566797724, 21.02171833756293,
                        20.545989080882805, 19.984871126234903,
                        19.343970978741133, 18.62969230082182,
                        17.849171928917617, 17.010208564578846,
                        16.121184852417567, 15.190983623493521,
                        14.22889914100246, 13.244544235070617,
                        12.247754254533577, 11.248488795381906,
                        10.256732187770186, 9.282393735890558,
                        8.335208707480717, 7.424641062246787, 6.559788891106303,
                        5.749293511071166, 5.001253124064563, 4.323141902364175,
                        3.7217353091434635, 3.2030424002833, 2.772245783871927,
                        2.433649837298116, 2.1906376993350847,
                        2.045637466936226, 2.000097934492965, 2.05447411796011,
                        2.208222708486831, 2.4598075009791103,
                        2.8067147433532433, 3.2454782531157154,
                        3.771714050312921, 4.380164160809679, 5.064749152228776,
                        5.818628877629667, 6.634270819995651, 7.503525354654001,
                        8.41770717763173, 9.36768208634199, 10.343958245516905,
                        11.336781026487992, 12.336230472211385,
                        13.33232041419944, 14.315098251015389,
                        15.274744391376931, 16.20167036826641,
                        17.086614643723752, 17.920735147072243,
                        18.695697621966023, 19.403758899524487,
                        20.03784426551621, 20.59161814856497,
                        21.059547423084627, 21.436956694441047,
                        21.72007501394976, 21.906073556948705,
                        21.993093887479176, 21.980266527163614,
                        21.86771964274613, 21.656577765492774,
                        21.34895055524683, 20.947911721405035,
                        20.457468311429334, 19.882520673753163,
                        19.22881349511976, 18.502878401571166,
                        17.71196869659987, 16.86398688853798, 15.96740573130612,
                        15.031183567457022, 14.064674819377966,
                        13.077536522994423, 12.079631837859356,
                        11.080931497723183, 10.091414186258106,
                        9.120966833349346, 8.179285828159909, 7.275780136015339,
                        6.4194772871322066, 5.618933176520498,
                        4.882146576308769, 4.216479214657015,
                        3.6285822198025315, 3.1243296641849536,
                        2.7087598726563034, 2.3860250812044317,
                        2.159349949183566, 2.0309993395840387,
                        2.002255689269889, 2.073406195293673, 2.243739945318424,
                        2.5115550208187596, 2.874175502088155,
                        3.3279782051441877, 3.8684288833851355,
                        4.490127532283239, 5.186862344445, 5.951671775937159,
                        6.776914103732684, 7.6543437792810645,
                        8.575193815303875, 9.530263382633791,
                        10.510009741858012, 11.504643591216325,
                        12.504226878068147, 13.498772096629523,
                        14.478342079829599, 15.433149288198987,
                        16.353653603728933, 17.230657651576994,
                        18.05539869719601, 18.819636200681355,
                        19.515734153521507, 20.136737375071053,
                        20.67644100641669, 21.129452507276277,
[...]
